[user]
	name = Piotr Bober
	email = pedro.bober@gmail.com
[alias]
	st = status
	l = log --graph --decorate=short -n 7
	ls = branch -a
	diffs = diff --staged
	la = log --graph --decorate=short -n 7 --branches='*'
[color]
	ui = true
[core]
	editor = vim
[push]
	default = upstream
